@keyframes bg-change {
    0%{
        background-position : 0% 50%;
    }
    50%{
        background-position : 100% 50%;
    }
    100%{
        background-position : 0% 50%;
    }
}

.animation-bg{
    background: linear-gradient(-40deg,yellow,orange,coral,cadetblue, #4c42e1, #c065c0);
    background-size: 400% 400%;
    animation: bg-change 7s ease infinite;
}
.paused{
    animation-play-state: paused;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#outerdisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    width: 432px;
    height: 414px;
    border-radius: 50%;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 380px;
    width: 400px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.digit{
    font-size: 4.3rem;
}

.text{
    font-weight: bold;
    font-size: 3rem;
    margin: 0 5px;
    margin-bottom: 7px;
}

.buttons{
    margin: 72px 0;
    background-color: black;
    display: flex;
    justify-content: center;
}

.btn{
    margin: 0 20px;
    font-size: 1.3rem;
    height: 44px;
    width: 96px;
}

#start{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: linear-gradient(-40deg, green,lightgreen,rgb(173, 241, 0));
}
#start:hover{
    font-weight: bold;
}
#stop{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: linear-gradient(-40deg,rgb(221, 106, 18),coral,rgb(255, 77, 77));
}
#stop:hover{
    font-weight: bold;
}
#reset{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: linear-gradient(-40deg,rgb(16, 138, 205),rgb(9, 139, 143),cadetblue);
}
#reset:hover{
    font-weight: bold;
}